@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/MuseoSansCyrl-300.eot');
    src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/MuseoSansCyrl-700.eot');
    src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    }
   html{
    font-family:"Museo Sans",sans-serif;
    overflow-x: hidden;
    }
    body{
    overflow-x: hidden;
    }
    .first{
        min-height: 800px;
        background: url("../css/img/main_big_bg.jpg") center center/cover no-repeat;
    }
    .container {
      width: 950px;
      margin: 0 auto;
}

    .nav{
        min-height: 110px;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }
    .logo_img{
        display: block;
        width: 300px;
    }
    .main{
        margin-top: 28px;
        width: 550px;
        
        a{
            text-decoration: none;
            color: black;
            }
        }
    
        .menu{
          display: flex;
          justify-content: space-between;
          &_item{
            list-style-type: none;
            border-right: 2px solid orange;
            padding-right: 32px;
            font-weight: 700;
            font-size: 18px;
            :hover{
                color: rgb(163, 161, 161);
            }
        }
        :nth-child(4){
            border-right: none;
        }
    }
    .hamburger{
        display: none;
    }
    .main_descr{
        font-weight: 700;
        
        }
    .descr{
        font-size: 19px;
        margin-top: 45px;
        font-weight: 500;
    }
    .promo{
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
    }
    .btn{
        margin-top: 50px;
        align-items: center;
        }
        .interesting{
            text-align: center;
            font-size: 45px;
            color: white;
        }
        .main_btn{
            margin-top: 20px;
            width: 250px;
            height: 70px;
            background-color: black;
            border: 2px solid orange;
            border-radius: 30px;
            color: white;
            font-size: 25px;
            text-transform: uppercase;
            font-weight: 500;
            &:hover{
                background-color: rgb(139, 135, 135);
                color: orange;
                transition: 0.5s;

            }
            &:active{
                color: black;
                background-color: white;
            }
        }
        .form{
          display: flex;
          flex-direction: column;
          margin-top: 50px;
        }
        input{
          width: 300px;
          height: 55px;
          margin-bottom: 20px;
          border: none;
          border-radius: 10px;
        }
        .consultation_btn{
          width: 300px;
          height: 55px;
          border: 2px solid orange;
          border-radius: 30px;
          background-color: black;
          color: white;
          text-transform: uppercase;
          font-weight: 700;
        }
        .overlay{
          display: none;
          position: fixed;
          width: 100%;
          height: 100%;
          top: 0;
          background-color: rgba(0,0,0, .56);
        }
        .modal__subtitle{
          font-size: 20px;
          font-weight: 500;
          text-align: center;
        }
        .modal__descr{
          font-weight: 500;
          text-align: center;
          margin-bottom: 20px;
        }
        #consultation , #thanks{
          display: none;
        }
        .modal{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 380px;
          min-height: 400px;
          background-color: rgb(248, 218, 182);
          padding: 38px 40px ;
          &__close{
            position: absolute;
            top: -15px;
            right: -40px;
            font-size: 40px;
            color: orange;
            line-height: 41px;
            cursor: pointer;
           }
          &_mini{
            min-height: 140px;
          }
          label.error{
            text-align: center;
            font-size: 15px;
            margin-bottom: 20px;
          }
        }
        .phone{
          display: flex;
          &_item{
            width: 27px;
          }
          &_img{
            display: block;
            width: 27px;
            margin: 0 auto;
            margin-top: 10px;
          }
          &_link{
            display: block;
            text-decoration: none;
            color: black;
            font-size: 27px;
            font-weight: 500;
          }
        }
        .second{
          margin-top: 70px;
          min-height: 500px;
        }
        .proposition{
          text-align: center;
          font-weight: 700;
          font-size: 38px;
        }
        .services{
          display: flex;
          justify-content: space-between;
          margin-top: 50px;
        }
        .seo{
          width:30%;
          &_title{
            border:2px solid orange ;
            border-radius: 30px;
            font-size: 24px;
            text-align: center;
          
            }
          }
          .seo_descr{
            font-size: 19px;
            margin-top: 10px;
            font-weight: 500;
            line-height: 28px;
          }
          .seo_round{
            width: 14px;
            height: 14px;
            background-color:orange;
            border-radius: 50%;
            margin: 0 auto;
            margin-top: 7px;
          }
          .third{
            min-height: 750px;
            background: url("../css/img/second_bg.jpg") top center/cover no-repeat;
          }
          .we{
            position: relative;
            width: 35%;
          }
          .we_descr{
            padding-top: 70px;
            text-align: center;
          }
          .choice{
            position: relative;
            padding-top: 50px;
            li{
              font-size: 19px;
              font-weight: 500;
              margin-bottom: 20px;
              list-style-type: none;
          }}
          
          .choice_descr::before{
              content: '';
              position: absolute;
              left: -17px;
              margin-top: 8px;
              display: inline-block;
              background: url("../css/img/tick.png") center center/cover no-repeat;
              background-size: 25px 25px;
              border: 2px solid black;
              width: 40px;
              height: 40px;
              border-radius: 50%;
       }
          
           .footer{
            min-height: 450px;
            background-color: black;

           }
          .wrapper{
            padding-top: 40px;
            display: flex;
            justify-content: flex-start;
          }
          .contacts_title{
            padding-top: 40px;
            padding-left: 30px;
            color: white;
          }
          .item_phone{
            display: flex;
          }
          .descr_link{
            font-size: 17px;
            padding-left: 10px;
            color: white;
          }
           .viber{
            display: flex;
           }
           .viber_phone{
            font-size: 17px;
            padding-left: 10px;
            color: white;
           }
           .teleg{
            display: flex;
           }
           .teleg_phone{
            font-size: 17px;
            padding-left: 10px;
            color: white;
           }
           .item_mail{
            display: flex;
           }
           .descr_mail_link{
            font-size: 17px;
            padding-left: 10px;
            color: white;
           }
           .icon_img{
            display: block;
            width: 20px;
            height: 20px;
            margin-top: 4px;;
           }
           .item_phone{
            margin-bottom: 11px;
           }
           .local{
            padding-top: 80px;
            padding-left: 13px;
            color: white;
            font-size: 13px;
            text-align: center;
           }
           .ua{
            display: flex;
           }
           .ua_icon{
            display: block;
            width: 20px;
            height: 20px;
            margin-top: 3px;
           }
           .all_ua{
            color: white;
            text-transform: uppercase;
            padding-left: 10px;
           }
           .ua_wrapper{
            display: flex;
            justify-content: center;
           }
          @media (max-width:575px){
            
            .menu{
              position: fixed;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              top: 70px;
              right:-100%;
              width: 80%;
              height: 100vh;
              padding: 20px 30px;
              background-color:rgba(252, 250, 250, 0.8);
              transition: 0.7s all;
              color: white;
              
            }
            .menu_active{
              right: 0;
              
              
            }
            .menu_item{
              margin: 10px 0 30px 0;
              border: none;
              }
            .menu_link{
              font-size: 25px;
              border: none;
              
              
              
            }
            .hamburger{
              display: block;
              position: absolute;
              right: 10%;
              top: 10%;
              transform: translateY(-50%);
              width: 26px;
              height: 12px;
            }
             .hamburger span{
              display: block;
              width: 100%;
              height: 2px;
              background-color: rgb(0, 0, 0);
              margin-bottom: 2px;
              transition: 0.6s all;
            }
            .hamburger_active span{
              margin-bottom: -2px;
            }
            .hamburger_active span:nth-child(1){
             transform: translateY(3px) rotate(-45deg);
            }
            .hamburger_active span:nth-child(2){
              display: none;
            }
            .hamburger_active span:nth-child(3){
              transform: translateY(3px) rotate(45deg);
            }
        .promo{
          display: block;
        }
        .nav{
          min-height: 50px;
        }
        .btn{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start
        }
        .interesting{
          color: black;
          padding-left: 40px;
          text-align: center;
        }
        .container {
         margin-left: 25px;
        }
      
      .services{
        display: flex;
        flex-direction: column;
       }
       .proposition{
        text-align: left;
        font-size: 33px;
       }
      
      .seo{
       width: 30%;
       margin-top: 25px;
      }
      .seo_descr{
     text-align: center;
    }
    .third{
      background: url("../css/img/second_bg.jpg")cover no-repeat;
      background-position: -720px;
      min-height: 850px;
    }
    .we{
      width: 30%;
      padding-left: 20px;
    }
    .choice{
      padding-left: 15px;
    }
    .choice_descr::before{
      content: '';
      position: absolute;
      left: -30px;
      margin-top: 8px;
      display: inline-block;
      background: url("../css/img/tick.png") center center/cover no-repeat;
      background-size: 25px 25px;
      border: 2px solid black;
      width: 40px;
      height: 40px;
      border-radius: 50%;
}
     .local{
       padding-top: 80px;
       padding-left: 30px;
       color: white;
       font-size: 13px;
       text-align: left;
 }
      .ua_wrapper{
        display: flex;
        justify-content: flex-start;
 }

     }
      @media (max-width:368px){
        .menu{
          width: 85%;
        }
        .nav{
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          align-self: flex-end;
        }
        .logo_img{
         padding-right: 80px;
          margin-right: 50px;
          
        }
        .hamburger{
          display: block;
          position: absolute;
          right: 8%;
          top:7%;
          transform: translateY(-50%);
          width: 26px;
          height: 12px;}
      .choice{
        padding-left: 10px;
      }
       .we{
        width: 30%;
        padding-left: 20px;
       }
       .choice_descr::before{
        content: '';
        position: absolute;
        left: -37px;
        margin-top: 8px;
        display: inline-block;
        background: url("../css/img/tick.png") center center/cover no-repeat;
        background-size: 25px 25px;
        border: 2px solid black;
        width: 40px;
        height: 40px;
        border-radius: 50%;
 }
      }



        




    

